{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p class="date">
    wypracowany w pocie czoła {{ post.publish }} ręcami {{ post.author }}
  </p>
  {{ post.body|markdown_filtr}}
  <p>
    <a href="{% url "blog:post_share" post.id %}">
      Udostepnij
    </a>
  </p>

  <h2>całkiem podobne posty, czeknij:</h2>
  {% for post in similar_posts %}
    <p>
      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </p>
  {% empty %}
    Nikt nie napisał jeszcze czegoś podobnego
  {% endfor %}

  {% with comments.count as total_comments %}
    <h2>
      {{ total_comments }} komenatrz{{ comments_pl_ending }}
    </h2>
  {% endwith %}
  {% for comment in comments %}
    <div class="comment">
      <p class="info">
        Komentarz {{ forloop.counter }} dodany przez {{ comment.name }}
        {{ comment.created }}
      </p>
      {{ comment.body|linebreaks }}
    </div>
  {% empty %}
    <p>no nie ma jeszcze żadnych komentów</p>
  {% endfor %}

  {% if new_comment_add %}
    <h2>dodałeś komemntarz, grasty</h2>
  {% else %}
    <h2>jakiś komentarzyk</h2>
    <form action="." method="post">
      {{ comment_form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="skomentowane"></p>
    </form>
  {% endif %}
{% endblock %}
